<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/head.ejs")  %>
  </head>
  <body>
    <h1 class="bg-info text-white p-3 m-0">The Solar System</h1>

    <%- include("partials/nav.ejs") %>


    <h2 id="nasaPod">NASA POD</h2>
    <img src="<%=nasaImg %>" id="nasa">
  </body>
  <footer>
    <%- include("partials/footer.ejs") %>
  </footer>
</html>
